html, body {
    height: 100%;
    margin: 0;
  }
.bg{
    background-color: #343a40;
    color: whitesmoke;
}
.bgt{
    background-color: red;
}
.letra{
    font-size:4vw;
}
.full-height {
    height: 100%;
  }
  .full-heightt {
    height: 100%;
    background-color: red;
  }
.center{
    margin-left: 30%;
}

